.container {
    position: relative;
    background-color: #ededed;
}

input.hasDatepicker {
    background: #fff url('../images/32calicon.png') no-repeat;
    background-position: right center;
    background-size: contain;
    background-origin: padding-box;
    content: '';
    display: inline-block;
    position: relative;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    border: 1px solid #26371f;
    background: #1d551d url("../images/ui-bg_highlight-hard_25_1d551d_1x100.png") 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
}

@media (min-width: 200px) {
    .slideout-menu {
        left: -250px;
		width: 250px;
    }
}

@media (min-width: 400px) {
    .slideout-menu {
        left: -450px;
	    width: 250px;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .slideout-menu {
    left: -550px;
	width: 250px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
        .slideout-menu {
    left: -750px;
	width: 250px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
            .slideout-menu {
    left: -1000px;
	width: 250px;
    }
}


/* Larger than Desktop HD */
@media (min-width: 1200px) {
            .slideout-menu {
    left: -9999px;
	width: 250px;
    }
}


	